@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-primary-color: rgb(39, 43, 51);
  --bg-secondary-color: rgb(60, 62, 68);

  --text-white-color: #ffffff;
  --text-gray-color: rgb(158, 158, 158);
  --text-dark-color: rgb(32, 35, 41);
  --text-orange-color: rgb(255, 152, 0);
}
